## Python range vs enumerate vs zip

1. Python functions range(), enumerate() seems to be similar in the beginning but they serve a different purposes

2. Where as the zip() function returns a zip object, which is an iterator of tuples. For example, we can use it to create a list of tuples by zipping in two or more separate lists together

### range()
Generates a sequence of numbers within a specified range.

Useful when you need to iterate a fixed number of times or access specific indices.

Returns an iterable object.

In [1]:
for i in range(5):
    print(i)  # prints 0, 1, 2, 3, 4

0
1
2
3
4

### enumerate()

Iterates over an iterable (like a list or string) and returns both the index and the corresponding value at each step.

Useful when you need both the index and the value during iteration.

Returns an enumerate object, which can be easily converted to a list of tuples.

In [2]:
# enumerate list items
cars = ['Audi','BMW','Tesla','Ford','Toyota']
for i, car in enumerate(cars):
    print(i,car) #

0 Audi
1 BMW
2 Tesla
3 Ford
4 Toyota

In [4]:
# enumerate a string
string = 'love cars'
for i, l in enumerate(string):
    print(i,l)

0 l
1 o
2 v
3 e
4
5 c
6 a
7 r
8 s

### zip()

The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.

In [5]:
languages = ['Java', 'Python', 'JavaScript']
versions = [14, 3, 6]

result = zip(languages, versions)
print(list(result))

# Output: [('Java', 14), ('Python', 3), ('JavaScript', 6)] ## Which is list of tuples

[('Java', 14), ('Python', 3), ('JavaScript', 6)]

### Combine all those function them in a code snippet

In [10]:
# create a list of names
names = ['Arjun', 'Shiva', 'Artha', 'Karna', 'Rajesh']

# create a list of subjects
subjects = ['Python', 'Go', 'C++', 'Javascript', 'SQL']

# create a list of marks
grade = [99, 78, 97, 92, 80]

## Zip them together
result = zip(names, subjects,grade)
print(list(result))
#[('Arjun', 'Python', 99), ('Shiva', 'Go', 78), ('Artha', 'C++', 97), ('Karna', 'Javascript', 92), ('Rajesh', 'SQL', 80)]

# use enumerate() and zip() function
# to iterate the lists
for i, (names, subjects, grade) in enumerate(zip(names, subjects, grade)):
    print(i, names, subjects, grade)

[('Arjun', 'Python', 99), ('Shiva', 'Go', 78), ('Artha', 'C++', 97), ('Karna', 'Javascript', 92), ('Rajesh', 'SQL', 80)]
0 Arjun Python 99
1 Shiva Go 78
2 Artha C++ 97
3 Karna Javascript 92
4 Rajesh SQL 80